html, body {
	height: 100%;
}


body {
	font-family: "Enriqueta", serif;
	min-height: 100%;
	margin: 0;
	background-image: url("grass.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.sidebar {
	display: inline-block;
	padding-top: 30px;
	background-color: #25383C;
	color: white;
	height: 100%;
	width: 18%;
	box-shadow: 2px 2px 2px -2px #C0C0C0;
}

.content{
	display: inline-block;
	float: right;
	background: rgba(212, 148, 31, 0.45);
	height: 100%;
	width: 82%;
}

.sidebar ul{
	padding-left: 0;
	padding-top: 110px;
	list-style-type: none;
}

.sidebar h2 {
	padding-left: 16px;
}

ul li {
	margin: 20px 0;
}

a {
	margin: 0 20px;
	text-decoration: none;
	color: white;
}

h3 {
	text-align: center;
}

.content h2 {
	padding-top: 24%;
	margin: auto;
	color: white;
	width: 50%;
}
